#!/usr/bin/env rc
{{#job.name}}# {{.}}
{{/job.name}}

# setup fixed job env variables
mpirun = `{which mpirun >[2]/dev/null}
if(! ~ $status 0) {
  mpirun = ()
}
nodes  = 1
jobidx = 0
jobid  = $pid
base   = '{{base}}'
# nodelist = ...

psik reached $base $jobidx active $jobid
'{{base}}/scripts/on_active.rc'

# what to do on failure
fn fail {
	psik reached $base $jobidx failed $jobid
	'{{base}}/scripts/on_failed.rc'
}
fn sighup {
    fail
}
fn sigint {
    fail
}
fn sigalrm {
    fail
}

'{{base}}/scripts/run'
if(~ $status 0) {
	psik reached $base $jobidx completed $jobid
	'{{base}}/scripts/on_completed.rc'
} if not {
    fail
}
